<footer id="footer" class="site-footer">
    <div class="footer">
        <div class="footer__container">
            <div class="footer__container-top">
                <img class="footer__site-logo" src="{{ "/assets/images/Group-49-1.svg" | url }}" alt="{{ site.title }}">
                <h2 class="h2-medium footer__contact-us">Contact Us</h2>
                <div class="footer__email-container">
                    <a href="mailto:ace@alterengineers.com" class="footer__email">ace@alterengineers.com</a>
                </div>
                <div class="footer__phone-container">
                    <a href="tel:(510)-474-0379" class="footer__phone">(510)-474-0379</a>
                </div>
            </div>
            <div class="footer__container-bottom">
                <h3 class="footer__address">825 Washington St STE 227<br>Oakland, CA 94607<br>United States</h3>
                <a href="https://maps.app.goo.gl/FBHgkQM61XyJ48CJ6" class="footer__map-direction">GET DIRECTIONS</a>
            </div>
        </div>
        <div class="footer__design-social">
            <div class="footer__design">
                <p class="footer__design-by">Built with <a href="https://bloob.haus/" target="_blank" rel="noopener">Bloob Haus</a></p>
                <div class="footer__go-top-container"></div>
            </div>
            <div class="footer__social">
                <ul class="menu">
                    <li class="menu-item"><a href="https://www.linkedin.com/company/alterengineers">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
